@import "tailwindcss";

:root {
  --background: #f8fafc;        /* gray-50 */
  --foreground: #0f172a;        /* slate-900 */
  --secondary: #eef2ff;         /* indigo-50 */
  --accent: #4f46e5;            /* indigo-600 */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a2a29;
    --foreground: #f4f1ef;
    --secondary: #475d59;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button, a {
  transition: all 0.2s ease-in-out;
}

div[class*='shadow-'] {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
