@import "tailwindcss";

:root {
  --background: #f4f1ef;
  --foreground: #341400;
  --secondary: #fff5ee;
  --accent: #fe7620;
  --font-sans: Inter, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a1f1a;
    --foreground: #f4f1ef;
    --secondary: #5d4d47;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}