@import "tailwindcss";

:root {
  --background: #f4f1ef;
  --foreground: #c0e5d4;
  --secondary: #eefff6;
  --accent: #20fee4;
  --font-sans: Inter, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a2a29;
    --foreground: #f4f1ef;
    --secondary: #475d59;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button, a {
  transition: all 0.2s ease-in-out;
}

div[class*='shadow-'] {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
